body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f041a;
}

.slider {
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 600px;
  display: flex;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 600px;
}

.navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.side-buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 250px;
}

.prev::before {
  content: ' ';
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}

.next::before {
  content: ' ';
  border-right: 2px solid white;
  border-top: 2px solid white;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}
